@font-face {
    font-family: "Boots And Spurs";
    src: url("../fonts/BootsAndSpurs.ttf") format("truetype");
}

body {
    font-family: "roboto", Verdana, Geneva, Tahoma, sans-serif;
}
h1,
h2,
.logo {
    font-family: "Boots And Spurs", Verdana, Geneva, Tahoma, sans-serif;
}


header,
.logo {
    background-color: black;
    color: white;
}

nav li {
    color: white;
}

nav a {
    color: white;
}

a {
    color:black;
    text-decoration: none;
}

.list {background-color: #FBFBFB;
}

.cta {
    background-color:#BB0000;
    border: none;
    border-radius: 0.2em;
    color: white;
    padding: 0.05em 0.05em;
    text-align: center;
    
}

.cta-sale {
    background-color:#127300;
    border: 1em;
    border-radius: 0.2em;
    color: white;
    padding: 0.05em 0.05em;
    text-align: center;
}
   
.cta-view {
        background-color:#BB0000;
        border: none;
        border-radius: 0.2em;
        color: white;
        padding: 0.05em 0.05em;
        text-align: center;
}

.reviews {background-color: #e8e8e8;
}

footer {
    background-color: black;
    text-align:center;
    color: white;
}