@font-face {
    font-family: "Boots And Spurs";
    src: url("../fonts/BootsAndSpurs.ttf") format("truetype");
}

body {
    font-family: "roboto", Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
.logo {
    font-family: "Boots And Spurs", Verdana, Geneva, Tahoma, sans-serif;
}
nav li {
    color: white;
    display: inline-block;
}
ul {
    padding:0px;
    margin:5px
}
nav a {
    color: white;
}
header, a {
    padding:5px;
    padding-bottom: 0px;
    padding-top: 0px;
 
}

header,
.logo {
    background-color: black;
    color: white;
}

.current {
    text-decoration: underline;
}

.welcome {
    background-image: url("../images/home-header.jpg");
    background-size: cover;
    border-image-repeat: no-repeat;
    min-height: 70vh; 
    background-position-x: right;
    background-position-y: bottom;
}

a {
    color:black;
    text-decoration: none;
}

.list {
    background-color: #FBFBFB;
}

.Our-guitars {
    border-radius: 106px;
}

.profile-picture {
    border-radius: 100%;
}


.cta {
    background-color:#BB0000;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    color: white;
    padding:10px 70px;
    text-align: center;
    text-transform: uppercase;
    
}

.cta-sale {
    background-color:#127300;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 8px 37px;
    text-align: center;
    text-transform: uppercase;
}
   
.cta-view {
        background-color:#BB0000;
        border: none;
        border-radius: 5px;
        color: white;
        padding: 8px 50px;
        text-align: center;
        text-transform: uppercase;
}

.reviews {
    background-color: #e8e8e8;
}

.Cta_send_now {
    background-color:#BB0000;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    color: white;
    padding:10px 80px;
    text-align: center;
    text-transform: uppercase;
}

footer {
    background-color: black;
    text-align:center;
    color: white;
}