@font-face {
    font-family: "Boots And Spurs";
    src: url("../fonts/BootsAndSpurs.ttf") format("truetype");
}

body {
    font-family: "roboto", Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
.logo {
    font-family: "Boots And Spurs", Verdana, Geneva, Tahoma, sans-serif;
}
nav li {
    color: white;
}

nav a {
    color: white;
}

header,
.logo {
    background-color: black;
    color: white;
}

.welcome {
    background-image: url("../images/home-header.jpg");
    background-size: cover;
    border-image-repeat: no-repeat;
    min-height: 70vh; 
    background-position-x: right;
    background-position-y: bottom;
}

a {
    color:black;
    text-decoration: none;
}

.list {
    background-color: #FBFBFB;
}

.Our-guitars {
    border-radius: 106px;
}

.profile-picture {
    border-radius: 100%;
}


.cta {
    background-color:#BB0000;
    border: none;
    border-radius: 0.2em;
    color: white;
    padding: 0.05em 0.05em;
    text-align: center;
    
}

.cta-sale {
    background-color:#127300;
    border: 1em;
    border-radius: 0.2em;
    color: white;
    padding: 0.05em 0.05em;
    text-align: center;
}
   
.cta-view {
        background-color:#BB0000;
        border: none;
        border-radius: 0.2em;
        color: white;
        padding: 0.05em 0.05em;
        text-align: center;
}

.reviews {
    background-color: #e8e8e8;
}

footer {
    background-color: black;
    text-align:center;
    color: white;
}

.Cta_send_now {
    background-color:#BB0000;
    color:#e8e8e8;
    border: solid;
    border-radius: 0.2em;
    padding: 0.2em 0.2em;
    text-align: center;
    


}